# Node modules
node_modules/

# Build files
build/

# Environment variables
.env.development
.env.production
# Certificados y claves
ca.crt
ca.key
cert.crt
cert.key

# Archivos de servidor


# JAR files
bfg-*.jar