.trending-sidebar {
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.trending-header {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid #ff5c5c;
  padding-bottom: 10px;
}

.trending-category {
  display: block;
  background-color: #2e2e2e;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  text-decoration: none;
}

.trending-category:hover {
  background-color: #ff5c5c;
  transform: translateY(-3px);
}

.trending-category.active {
  background-color: #ff5c5c;
  color: #ffffff;
  font-weight: bold;
}

.trending-category:active {
  transform: translateY(0px);
}

.trending-category:first-child {
  margin-top: 10px;
}

.trending-content {
  margin-top: 0;
  padding: 0 20px;
  width: 100%;
}

.trending-page {
  display: flex;
  flex-wrap: wrap;
  margin-left: 220px;
  padding-top: 10px;
  justify-content: flex-start; /* Cambiamos de center a flex-start para tener más control */
}

.video-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Alineamos los videos a la izquierda */
  gap: 20px;
  margin-left: 50px; /* Añadimos este margen para mover la lista hacia la derecha */
}

.video-item {
  margin: 20px;
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.video-item:hover {
  transform: scale(1.05);
}

.video-item h3 {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

.video-item img {
  width: 100%;
  border-radius: 10px;
  max-height: 180px;
}

.video-item a {
  text-decoration: none;
  color: #ffffff;
}

.video-item a:visited {
  color: #ffffff;
}

.video-item a:hover {
  color: #ff5c5c;
  text-decoration: none;
}

.trending-header {
  color: white;
}
